.center-block {
  width: 898px;
  margin: 150px auto 80px;
  color: #ffffff;
  text-align: center;

  .tahun-berdiri {
    font-weight: 400;
    font-size: 48px;
  }

  .judul-berdiri {
    margin: 20px;
    font-weight: 700;
    font-size: 40px;
  }

  .isi-berdiri {
    font-weight: 400;
    font-size: 16px;
  }

  .tombol-berdiri {
    width: 225px;
    height: 41px;
    margin: 10px;
    background: #fed402;
    border-radius: 12px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
  }
}

.items {
  display: flex;
  flex-direction: row;
}

.separate-items {
  margin: auto;

  .main {
    font-weight: 700;
    font-size: 24px;

    color: #ffffff;
  }
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
