@import "./base.css";

body {
  margin: 0;
  padding: 0;
}

.text-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#app {
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 2rem;
  align-content: center;
}

* {
  font-weight: normal;
  font-family: "Inika";
}
